@media (max-width: 980px) {
    #about .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #about .col-md-5,
    #about .col-md-7 {
        width: 100% !important;
        padding: 0 15px;
        margin-bottom: 30px;
    }

    #about .image {
        padding-left: 0 !important;
        text-align: center;
    }

    #about .image img {
        max-width: 100%;
        height: auto;
    }

    #services .col-md-4 {
        width: 100% !important;
        margin-bottom: 20px;
    }


    #services .icon {
        margin-bottom: 15px;
    }

    #works .col-md-4 {
        width: 50% !important;
        margin-bottom: 20px;
    }

    #counter .col-md-3 {
        width: 100% !important;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #team .col-md-4 {
        width: 50% !important;
        margin-bottom: 20px;

    }

    #contact .col-md-offset-1 {
        margin-left: 0 !important;
        padding-inline: 0 !important;
    }


    #contact .col-md-4,
    #contact .col-md-6,
    #contact .col-md-12 {
        width: 100% !important;
        max-width: 100% !important;
    }




}



@media (max-width: 760px) {
    #works .col-md-4 {
        width: 100% !important;
        margin-bottom: 20px;
    }

    #team .col-md-4 {
        width: 100% !important;
        margin-bottom: 20px;
    }


}

@media (max-width: 576px) {
    .client .inner p {
        width: 100% !important;
    }
    nav a.active::after {
    width: 15% !important;
}
nav a:hover::after {
    width:15% !important;
}
}