@font-face {
    font-family: 'Poppins';
    src: url(../fontsfolder/Poppins-Bold.ttf) format('truetype');
    font-weight: 700;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fontsfolder/Poppins-Medium.ttf) format('truetype');
    font-weight: 600;
}

@font-face {
    font-family: 'Poppins';
    src: url(../fontsfolder/Poppins-Regular.ttf) format('truetype');
    font-weight: 400;
}

body {
    font-family: 'Poppins', sans-serif;
}

::selection {
    background-color: #3367D1;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Montserrat", sans-serif;
}

section h1 {
    font-weight: 900 !important;
    color: rgb(52, 52, 52);
    font-size: 40px;
    position: relative;
    display: inline-block;
    z-index: 4;
}

section h1:after {
    content: "";
    width: 100%;
    height: 30px;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    position: absolute;
    bottom: -10px;
    left: 0;
    z-index: -1;
}

.ptb-100-70 {
    padding-top: 100px;
    padding-bottom: 70px;
}

.pb-80 {
    padding-bottom: 80px;
}

.mb-30 {
    margin-bottom: 30px;
}

.mb-80 {
    margin-bottom: 80px;
}

.pt-50 {
    padding-top: 50px;
}


/* ~ navbar style */


nav .navbar-brand {
    font-weight: 800 !important;
    font-size: 18px !important;
    line-height: 26px !important;
    color: #333;
}

nav a.active {
    position: relative;
    padding-inline: 0 !important;
}

nav a.navbar-brand::after {
    content: none !important;
}



nav a.active::after {
    content: '';
    width: 90%;
    height: 2px;
    background-color: #333;
    position: absolute;
    left: 0;
    bottom: 0px;
}

nav a {
    position: relative;
    padding-bottom: 3px !important;
}

nav a::after {
    content: '';
    width: 0%;
    height: 2px;
    background-color: #333;
    position: absolute;
    left: 0;
    bottom: 0px;
    transition: all 0.3s ease-in;
}

nav a:hover::after {
    width: 100%;
}


/* ~ header style */
header {
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6)), url('../images/bg.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

header h1 {
    font-weight: 200 !important;
    font-size: 60px;
    line-height: 72px;
}

header h1 span {
    font-weight: 400 !important;
}

header .icons a {
    color: #ffffff !important;
    padding-right: 10px;
}

header .icons a span {
    display: inline-block;

    font-size: 14px;
    width: 35px !important;
    height: 35px !important;
    line-height: 35px;
    border-radius: 50% !important;
    background: rgba(0, 0, 0, 0.3) !important;
}

header p {
    color: rgba(255, 255, 255, 0.75) !important;
}



/* ~ about style */



#about .container img {
    width: 100%;
    height: auto;
}

#about .image {
    position: relative;
    padding: 0 0 0 30px;
}

#about .image:after {
    content: "";
    width: 80%;
    height: 80%;
    position: absolute;
    left: 0px;
    bottom: -28px;
    background-image: url(../images/dots.png);
    background-repeat: repeat;
    z-index: -1;

}

#about .container h1 {
    font-weight: 800;
    color: rgb(52, 52, 52);
    font-size: 30px;
    line-height: 33px;
}

#about .container p {
    font-weight: 400;
    color: rgb(153, 153, 153) !important;
    font-size: 15px !important;
    line-height: 1.6;
}

#about .container p .sub-title {
    color: #999;
    letter-spacing: 2px !important;
    margin-bottom: 20px;
}

#about .container p span {
    font-weight: 700;
    color: rgb(116, 129, 130);
    font-size: 15px;
    line-height: 24px;

}

#about .btn {
    padding-block: 10px;
    padding-inline: 30px;
    margin-top: 20px;
    border: 1px solid #333;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
}

#about .down:hover {
    background-color: #ffffff !important;
    color: #333 !important;
}

#about .contact:hover {
    background-color: #333 !important;
    color: #ffffff !important;
}




/* ~ services style */
.services {
    background-color: #F7F7F7;
}

.services .card {
    padding-inline: 20px;
    padding-block: 50px;
    margin-bottom: 30px;
    margin-top: 0px !important;
}

.services .card .icon {
    width: 70px;
    height: 70px;
    background: #f4f4f4;
    border-radius: 50%;
    align-items: center !important;
    justify-content: center !important;
    margin-bottom: 20px;
    transition: all 0.5s;
}

.services .card:hover .icon {
    background-color: #1c1c1c;
    color: #eee;
}

.services .card .card-text {
    max-width: 300px;
    color: #748182 !important;

}

/* ~ portfoilo style */

.works .inner {
    margin-bottom: 30px !important;
}

.works ul {
    margin-bottom: 50px !important;
}

.works .inner .layer {
    background-color: rgba(255, 255, 255, 0.95);
    opacity: 0;
    transition: all 0.3s ease-in;
    overflow: hidden;
    border: 5px solid #E0E0E0;
}

.works .inner:hover .layer {
    opacity: 1;
}

.works .inner .layer .content {
    transform: translateY(220%);
    transition: transform 0.3s ease-in;
    text-align: center;
}

.works .inner .layer:hover .content {
    transform: translateY(0);
}


.works .inner .layer .icons {
    margin-top: 15px;
    gap: 10px;
}


.works .inner .layer .icons i {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.works .inner .layer .icons i:hover {
    background: #fff;
    color: #000;
    border: 1px solid #000;
}

/* ~ clients style */
.client {
    background-color: #F7F7F7;
}

.client .image {
    width: 90px !important;
    height: 90px !important;
    margin: 0 auto;
}

.client .image img {
    width: 100% !important;
    display: block;
}

.client .carousel-indicators {
    margin-bottom: -40px;
}

.client .carousel-indicators button {
    background-color: #86979159 !important;
}

.client .carousel-indicators button.active {
    background-color: #869791 !important;
}

.client .carousel-indicators [data-bs-target] {
    width: 10px;
    height: 10px;
}

/* ~ team style */

.team .img-area img {
    transition: all 0.4s ease 0s;
    width: 100%;
}

.team .img-area .social {
    top: 5px;
    right: 5px;
    bottom: 5px;
    left: 5px;
    opacity: 0;
    transition: 0.5s;
    transform: rotateY(180deg) scale(0.5, 0.5);
}

.team .img-area .social ul {
    top: 175px;
}



.team .img-area:hover img {
    transform: scale(1.2);
}

.team .image:hover .social {
    opacity: 1;
    transform: rotateY(0deg) scale(1);
}


.team .image .social ul li {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.4s ease;
}

.team .image:hover .social ul li {
    opacity: 1;
    transform: translateY(0);
}

.team .image .social ul li a {
    display: inline-block;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
    background-color: #000 !important;
    color: #fff !important;
    border: 1px solid #000;
    transition: all 0.3s ease;
}

.team .image .social ul li a:hover {
    background-color: #fff !important;
    color: #000 !important;
    border: 1px solid #000;
}



/* ~ contact style */

.contact .col-md-offset-1 {
    padding-inline: 15px !important;
}

.contact form .form-control {
    background-color: #f4f4f4;
    border: 0;
}

.contact form .form-control:focus {
    box-shadow: none;
}

.contact form .form-control::placeholder {
    font-size: 14px;
    font-family: 400;
    line-height: 20px;
    color: rgb(52, 52, 52);
}

.contact form button:hover {
    background-color: #ffffff !important;
    color: #333 !important;
    border: 1px solid #333;
}

.contact .content .icon {
    font-size: 25px;
    margin-bottom: 15px;
    margin-inline: auto;
    width: 60px;
    height: 60px;
    line-height: 60px;
    background: #f4f4f4;
    border-radius: 50%;
    transition: all 0.5s;
}

.contact .content:hover .icon {
    background-color: #333;
    color: #ffffff;
}

/* ~ footer style */

footer {
    padding: 30px !important;
}